

* {
    color: #2f04bf;
    color: #210aa7;
    color: #bec8cd;
    color: #3f00ec;
    color: #2c58b8;
    color: #1e068b;
    color: #4db9e5;
    color: #6b7a99;
    color: #170666;

    --beaver: #8a6a56;
    --pickled-bean: #6b3821;
    --taupe-gray: #b4ae98;
    --cumin: #9b3f27;
    --tuna: #3b3c49;
    --rangitoto: #323928;
    --eclipse: #331c16;
    --siam: #676f5a;
    --millbrook: #55392e;
}